/* Common CSS Starts */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;    
    font-weight: ;
    font-size: ;
    color: #2d3950;    
}
/* Common CSS Ends */

/* Header Section Starts */
header.header {    
    background: #f6f9f9;
    min-height: 3%;    
}

div.wrapper {
    margin: 0 auto;
    padding: 25px 0;
    width: 75%;    
    overflow: hidden;
}
div.logo-content {
    padding: 10px 0;
    float: left;
    width: 12%;    
    text-align: center;
}

div.logo-content a img {
    width: 100%;
}

nav.menu {
    width: 80%;    
    float: right;
}
div.menu-wrapper {
    overflow: hidden;
}
div.menu-wrapper ul {
    list-style: none;
    float: right;
}

div.menu-wrapper ul li {
    float: left;
}
div.menu-wrapper ul li a {
    margin: 15px 30px;
    font-weight: 400;
    color: #2d3950;
    text-decoration: none;
    text-transform: uppercase;
}

div.menu-wrapper ul li a:hover {
    color: #15a4fa;    
    border-bottom: 2px solid #15a4fa; 
}
/* Header Section Ends */

/* Banner Starts */
section.banner {    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

div.content {    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1.hero-h1 {
    margin: 0 450px;
    border-bottom: 1px solid #15a4fa;
    font-size: 100px;
    color: #ffffff;
}
p.hero-p {    
    color: #ffffff;
    font-size: 15px;
    padding: 10px 0;
}

button.call-btn {  
    color: #ffffff;
    cursor: pointer;  
    padding: 13px 30px;
    background: transparent;
    border: 1px solid #15a4fa;
}

button.call-btn a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;    
}
/* Banner Ends */

/* About Starts */
section.simple-about {
    background: #f6f9f9;
    min-height: 260px;
}

h2.about-h2 {
    padding: 15px 0 0;
    text-align: center;
    color: #2d3950
}
p.about-p {
    text-align: center;
    color: #999999;
}

/* About Ends */

/* Services Starts */
section.services {
    background: #ffffff;
}

section.services div.wrapper {
    overflow: hidden;
}

div.service-content {
    margin-left: 30px;
    padding: 25px 0;
    float: left;
    text-align: center;    
    border: 1px solid;
    width: 30%;    
}

div.service1 {
    display: inline-block;
    background: #48baff;    
    width: 100px;
    height: 100px;
    overflow: hidden;
}

div.service1 img {
    padding-top: 25px;
}

h2.s-h2 {
    color: #2d3950;
    font-size: 17px;
}

p.s-p {
    color: #b8b8b8;
    font-size: 15px;
}
/* Services Ends */

/* Showcase Starts */
section.showcase {
    padding-bottom: 100px;
}

div.showcase-head {
    text-align: center;
}
h2.showcase-h2 {
    font-size: 30px;   
}

div.gallery {
    width: 100%;
    overflow: hidden;
}

div.single-showcase {
  float: left;
  position: relative;
  width: 30%;
  max-width: 360px;
  max-height: 260px;
}

.g-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #2babf7;
  
}

.single-showcase:hover .overlay-icon {
  opacity: 0.9;
}

.overlay-icon img.icon-img1 {
    border: 1px solid red;    
}

.overlay-icon img.icon-img1 {    
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

.overlay-icon img.icon-img2 {    
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}


.icon-img:hover {
  color: #eee;
}

div.showcase1,
div.showcase2,
div.showcase4,
div.showcase5 {
    margin-right: 50px;
}

div.showcase1,
div.showcase2,
div.showcase3 {
    margin-bottom: 50px;
}

/* Showcase Ends */

/* Newsletter Starts */
section.newsletter {
    background-image: linear-gradient(rgba(45, 57, 80, 0.7), rgba(45, 57, 80, 0.7)), url('../img/newsletter-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

div.wrapper {}
div.newsletter-content {}
div.showcase-head {}
h2.news-head {
    color: #ffffff;
}

p.news-p {
    margin-top: 0;
}

div.form {    
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}
div.form input.input {
    margin: 15px 10px;
    padding: 15px;
    border: 1px solid gray;
    display: block;
    width: 90%;
    background: transparent;
    color: white;
}

input.in-size {
    min-height: 100px;
    text-align: left;
}

div.bottom-content {
    overflow: hidden;
}

div.left-content {
    float: left;    
}

div.right-content {
    float: right;    
}

p.checkbox {    
    font-size: 14px;
    color: #ffffff;    
}
input.checkbox-p {
    margin-right: 15px;
}

/* Newsletter Ends */

/* Footer Starts */
/* Footer Starts */
footer.footer {}
div.load-wrapper {
    margin: 0 auto;
    width: 75%;
    min-height: 80px;
}
div.terms {
    width: 30%;    
    float: left;
}
div.terms a {
    padding-right: 15px;
    text-decoration: none;
    color: #101010;
}
div.social-links {
    width: 70%;    
    float: right;
}
div.social-wrapper {    
    float: right;
    overflow: hidden;
}
p.social-follow {
    margin: 0;    
    float: left;
    color: #101010;
}
ul.social-icon {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
ul.social-icon li {
    float: left;
}
ul.social-icon li a {
    padding-left: 15px;
}
.terms,
.social-links {
    margin-top: 25px;;
}
/* Footer Ends */
/* Footer Ends */
