/*
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
color:Black  #000000;
      Ash    #626262;
*/

/* Common Css Starts */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    font-weight: 400;
    color: #626262;
}
/* Common Css Ends */

/* Header Starts */
.header {
    padding: 70px 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
div.logo {
    width: 12%;
    float: left;
}


div.logo a img {
    width: 100%;
}
nav.menu {
    width: 70%;
    float: right;
}
nav.menu ul {
    float: right;
    margin: 0;
}
nav.menu ul li {
    list-style: none;
    float: left;
}
nav.menu ul li a {
    margin: 0 35px;
    padding: 3px 2px;
    display: inline-block;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
}
nav.menu ul li a:hover {
    border-bottom: 1px solid #626262;
}
nav.menu ul li:last-child a {
    margin-right: 0;
}
/* Header Ends */

/* Banner Starts */
.b-img img {
    width: 100%;
}
/* Banner Ends */

/* Single Blog Starts */
div.wrapper2 {
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid red; */
}



.blog-title {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}
h1.blog-heading {
    font-size: 30px;
}
.blog-content {
    margin: 0;
    line-height: 25px;
}

.content-space {
    margin-bottom: 45px;
}
/* Single Blog Ends */

/* Blog 1 Starts */

div.wrapper2 {
    overflow: hidden;
}
div.blog1-content {
    float: left;
    width: 47%;
}
div.blog-img {
    margin-bottom: 25px;
}
div.blog-img img {
    width: 100%;
}

div.blog1-content:nth-child(odd) {
    margin-right: 6%;
}

.row {
    margin-top: 100px;
}

h2.blog-heading {
    margin: 20px 0 30px;
}
/* Blog 1 Ends */

/* Newsletter Starts */
.news-letter {
    background: #f0f0f0;
    margin: 100px 0;
}
.wrapper2 {
    width: 80%;
}
.email-content {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding: 50px;
}

.wrapper3 {
    min-height: 130px;
}

.newletter-form {
      padding-top: 25px;
}

.form-newletter {
    margin: 0 auto;
    width: 400px;
    position: relative;
}

.newsletter {
    padding: 0 35px 10px 2px;
    font-family: 'Ubuntu', sans-serif;
    width: 250px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #626262;
}

  input:focus {
    outline: none;
    border: none:
  }

  form button {
    background: transparent;
    border: none;
    position: absolute;
    right: 39%;
    cursor: pointer;
  }

  button img {
    width: 100%
  }

/* Newsletter Ends */

/* Load More Section Starts */
.load {
    margin: 0;
    padding: 0;
}

.load-btn {
    text-align: center;
    padding: 80px 0 100px;
}
button.load-more {
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding: 30px 60px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

button.load-more:hover {
    color: #000000;
}

/* Load More Section Ends */
/* Footer Starts */

.load-wrapper {
    margin: 0 auto;
    width: 80%;
    padding: 50px 0 70px;
}
.terms {
    width: 30%;
    float: left;
}
.terms a {
    padding-right: 15px;
    text-decoration: none;
    color: #101010;
}
.social-links {
    width: 70%;
    float: right;
}
.social-wrapper {
    float: right;
    overflow: hidden;
}
.social-follow {
    margin: 0;
    float: left;
    color: #101010;
}
ul.social-icon {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
ul.social-icon li {
    float: left;
}
ul.social-icon li a {
    padding-left: 15px;
}
/* Footer Ends */
